* {
  margin: 0;
  padding: 0;
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 10%;
}
.nav img {
  width: 13%;
}
.contact {
  align-items: center;
  display: flex;
  width: 50%;
}
.contact img {
  width: 15%;
  margin-right: 2%;
}
/* ------------------------------------------- */

.menu {
  /* display: block; */
  justify-content: center;
}
.menu-tabs ul {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}
.menu-tabs ul li a {
  background-color: #9f2e59;
  padding: 10px;
  width: 100%;
}
.menu-tabs ul li a i {
  width: 2px;
  padding: 10px;
  justify-content: center;
}
.menu-tabs ul li {
  list-style: none;
  /* display: inline-block; */
  padding: 0px 3px;
  align-items: center;
  position: relative;

  /* display: flex;
  flex-direction: column; */
  align-items: center;
}
.menu-tabs ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 100%;
  font: bold;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0px 2px;
  background: #9f2e59;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
/* AI */
.row {
  margin-top: 10px;
}
.row img {
  width: 100%;
}
.contents {
  position: absolute;
  width: 90%;
}
.contents h1 {
  font-size: 50px;
  font-weight: bold;
  color: #9f2e59;
}
.contents p {
  font-size: 15px;
}
.vision {
  position: absolute;
  padding: 40px;
  width: 100%;
}
.vision img {
  height: 100%;
  padding-right: 50px;
}
.vision-desc h1 {
  padding-top: 10px;
  width: 100%;
  font-weight: bold;
  align-items: center;
  color: rgb(55, 175, 180);
}

@media (min-width: 710px) {
  .fas {
    display: none;
    visibility: hidden;
  }
  .contents p {
    padding-left: 10px;
    margin: 10px 0 40px;
    font-size: 15px;
  }
  .row {
    width: 100%;
    margin: 0;
  }
  .vision {
    position: absolute;
    display: flex;
    /* justify-content: space-between; */
    /* margin-top: 50px; */
    width: 50%;

    display: flex;
    /* justify-content: space-between; */
    margin-top: 30px;
    /* width: 100%; */
    /* padding: 40px 40px; */
    flex-basis: 31%;
    /* border-radius: 10px; */
  }
  #cvision {
    width: 50%;
  }
  /* .vision img {
    width: 80wl;
    height: 100%;
    padding-right: 50px;
  } */
  .vision-desc h1 {
    padding: 20px;
    width: 100%;
    font-weight: bold;
    color: rgb(55, 175, 180);
  }

  /* .vision img {
    width: 10vw;
    height: auto;

    padding-right: 50px;
  } */
  .vision-desc h1 {
    padding: 20px;
    width: 50%;
    font-weight: bold;
    color: rgb(55, 175, 180);
  }

  .menu-tabs ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 3px;
    align-items: center;
    position: relative;
  }
  .menu-tabs ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;

    font: bold;
  }

  .row img {
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .contents {
    position: absolute;
    margin: 40px 50px;

    padding: 80px 100px;
  }
  .contents h1 {
    font-size: 50px;
    font-weight: bold;
    color: #9f2e59;
  }
  .contents p {
    font-size: 19px;
  }
}
@media (max-width: 700px) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0;
  }
  .contents h1 {
    font-size: 25px;
  }
  .contents p {
    font-size: 15px;
  }
  .menu-tabs ul li {
    display: block;
  }
  .menu-tabs ul li a {
    display: flex;
    padding: 10px;
  }
  .menu-tabs {
    position: absolute;
    background-color: #9f2e59;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .contents {
    display: block;
    padding: 30px;
    box-sizing: none;
  }
  .nav i {
    display: block;
    color: #000;
    margin: 10px;
    font: size 22px;
    cursor: pointer;
    z-index: 3;
  }
  .fas {
    display: block;
    color: #fff;
    margin: 10px;
    font: size 22px;
    cursor: pointer;
    z-index: 3;
  }
  .vision {
    position: absolute;
    /* display: flex; */
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    padding: 40px 40px;
    flex-basis: 31%;
    border-radius: 10px;
    /* margin-bottom: 5%; */
    text-align: left;
  }
  .AI {
    width: 100%;
    height: 30vh;
  }

  .vision h1 {
    /* width: 100%; */
    font-size: 20px;
  }
}
